.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
  transform: scale(1);
}
.fade-enter-active,
.fade-leave-active {
  transition: all 1s;
}
.fade-leave-to {
  opacity: 0;
  transform: scaleX(0.1);
}
