.bg-train {
  background-image: url("../images/content/bg-train.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 1785px;
  background-size: cover;
  /* @include desktop {
    background-size: auto;
  } */
}
