.bg-train {
  background-image: url("../images/content/bg-train.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  max-width: 100%;
  /* @include desktop {
    background-size: auto;
  } */
}
