.button {
  background: none;
  &--outfilled {
    display: flex;
    align-items: center;
    color: #fff;
  }
  &__text {
    font-size: 18px;
  }
  &__icon {
    height: 13px;
    width: 13px;
    fill: #fff;
    margin-left: 15px;
  }
}
