.header {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  &__nav {
    /* margin-left: 21%; */
    @include desktop {
      /* margin-left: 17%; */
    }
  }
}
