.header {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  &__nav {
    @include desktop {
    }
    @include tablets {
      display: none;
    }
  }
  &__socials {
  }
}
