.header {
  display: flex;
  color: #ffffff;
  align-items: center;
  &__nav {
    margin-left: 21%;
    @include desktop {
      margin-left: 17%;
    }
  }
  &__icon-list {
    margin-left: auto;
    &__item {
    }
  }
}
