.nav {
  text-align: left;
  &__link {
    line-height: 30px;
    border-bottom: 3px solid transparent;
    padding: 35px 30px;
    white-space: nowrap;
    &:hover {
      color: $links-color;
      border-color: $links-color;
    }
  }
}
