.portfolio {
  color: $slider-text-color;
  &__container {
    padding: 11% 0;
    @include tablets {
      padding: 16% 0 13%;
      width: 90%;
    }
  }
  &__title {
    margin-bottom: 86px;
    @include tablets {
      margin-bottom: 46px;
    }
  }
}
