.skills-group {
  &__title {
  }
  &__list {
    display: flex;
    justify-content: flex-start;
  }
  &__list-item {
    /* Temp */
    padding: 30px;
    border: 1px solid rgba(#fff, 0.4);
    border-radius: 50%;
  }
}
