.testimonials-section {
  padding: 138px 0 200px 159px;
  background: no-repeat url("../images/content/bg-liefs.jpg");
  background-size: cover;
  &__content {
    max-width: 933px;
  }
  &__carousel {
    margin-top: 79px;
  }
}
