$font-size: 14px;
.headline {
  background-color: #43436b;
  font-size: $font-size;
  margin: 0;
  &__container {
    display: flex;
    padding: 15px 0;
    align-items: center;
  }
}
.title {
  color: rgba(#fff, 0.5);
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.btn {
  background: none;
  border: none;
  color: rgba(#fff, 0.9);
  text-decoration: underline;
}
.right {
  margin-left: auto;
}
.slot-wrap {
  margin-right: 25px;
}
