.button-component {
  color: $admin-action-color;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0;
  background: transparent;
  outline: none;

  &:focus {
    outline: 1px dotted grey;
  }
}
.plus {
  border-radius: 50%;
  background-image: linear-gradient(to right, #006aed, #3f35cb);
  display: block;
  color: #fff;
  margin-right: 13px;
  flex-shrink: 0;
  &::before {
    content: "+";
  }
}
