script(type='text/x-template' id='t-slider')
  .slider
    .slider__inner
      SliderPreview(:portfolio="portfolio")
        .slider__thumb-list
          //- TODO Вынести картинки в абсолют
          .slider__thumb-wrap 
            +image('content/Копия 1.jpg', 'slider__thumb')
          .slider__thumb-wrap
            +image('content/Копия 2.jpg', 'slider__thumb')
          .slider__thumb-wrap
            +image('content/Копия 3.jpg', 'slider__thumb')
          .slider__thumb-wrap
            +image('content/Копия 4.jpg', 'slider__thumb')
        //- .slider__nav
        //-   .slider__nav-next 
        //-   .slider__nav-prev 
      .slider__desc-box
        .slider__tags
          .tag HTML
          .tag CSS
          .tag JavaScript
        h3.h3.slider__title Сайт школы образования
        p.slider__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .slider__link-wrap
          +icon('link','icon-link')
          a.slider__link(href="#") Посмотреть сайт


script(type='text/x-template' id='t-slider-preview')
  .slider__preview-box
    .slider__order {{ currentImgOrder }}
    SliderList(:gallery="gallery" :showImgId="currentImgId")
    .slider__nav
      .slider__nav-next(@click="currentImgId += 1")
      .slider__nav-prev(@click="currentImgId -= 1")


script(type='text/x-template' id='t-slider-list')
  transition-group.slider__img-wrap(tag='div' name='slide')
    SliderItem(v-for="imgObj in gallery" :filename="imgObj.filename" :key='imgObj.id' v-if="imgObj.id === showImgId")

script(type='text/x-template' id='t-slider-item')
  //- props: ['filename']
  .slider__img-wrap
    img(src=require(`images/content/Копия 1.jpg`).default class="slider__img" :alt="filename")
    


//- pre 
//-   done Общий контейнер виджета
//-   doneКомпонент с картинкой текущего слайда
//-   Превью всех слайдов
//-   Кнопки вперед/назад
//-   Текстовая информация
//-   Теги