//- Slider (root)
script(type='text/x-template' id='t-slider')
  .slider
    SliderPreview(:portfolio="portfolio")

//- Slider Preview
script(type='text/x-template' id='t-slider-preview')
  .slider__inner
    .slider__preview-box
      .slider__order {{ currentImgOrder }}
      SliderList(:gallery="gallery" :showImgId="currentImgId")
      SliderThumbList(:gallery="gallery" :showImgId="currentImgId" @set-slide='setSlide')
      SliderNav(@change-slide='changeSlide')
    SliderDesc(:portfolio="portfolio", :showWorkId='currentImgId')
    
//- Slider Nav
script(type='text/x-template' id='t-slider-nav')
  .slider__nav
    .slider__nav-next(@click=`changeSlide(1)`)
    .slider__nav-prev(@click=`changeSlide(-1)`)

//- Slider List
script(type='text/x-template' id='t-slider-list')
  transition-group.slider__img-wrap(tag='div' name='fade')
    SliderItem.slider__img(v-for="imgObj in gallery" :filename="imgObj.filename" :key='imgObj.id' v-if="imgObj.id === showImgId")

//- Slider Item
script(type='text/x-template' id='t-slider-item')
  img(:src="filename" :alt="filename")
    
//- Slider Thumb List
script(type='text/x-template' id='t-slider-thumb-list')
  .slider__thumb-list
    SliderThumbItem.slider__thumb(:filename='imgObj.filename' v-for='imgObj in gallery' :key='imgObj.id' :id="imgObj.id" :showImgId='showImgId' @set-slide="setSlide")
    
//- Slider Thumb Item
script(type='text/x-template' id='t-slider-thumb-item')
  .slider__thumb-wrap(:class="{'slider__thumb-wrap--active': id === showImgId}" @click=`$emit('set-slide',id)`)
    img.slider__thumb(:src="filename" :alt="filename")

//- Slider Desc
script(type='text/x-template' id='t-slider-desc')
  transition-group.slider__desc-box(tag='div' name='fade')
    .slider__desc-wrap(v-for="work in portfolio" :key='work.id' v-if='work.id === showWorkId')
      .slider__tags
        TagItem(v-for='tag in work.techs.split(",")' :tag='tag' :key='tag')
      h3.h3.slider__title {{ work.title }}
      p.slider__desc {{ work.description }}
      .slider__link-wrap
        +icon('link','icon-link')
        a.slider__link(:href=`work.link` target="_blank") {{work.link}}
