.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__main {
    $bg-img: url("../images/content/bg-admin.jpg") center center / cover;
    $bg-fallback: $admin-bg-color;
    background: $bg-fallback $bg-img;
    flex: 1;
  }
}
