.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__main {
    $bg-img: url("../images/content/bg-admin.jpg") center center / cover;
    $bg-fallback: $admin-bg-color;
    background: $bg-fallback $bg-img;
    flex: 1;
  }
}
.notifications {
  position: fixed;
  bottom: 100%;
  left: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, 0);
  &.active {
    transform: translate(-50%, 100%);
  }
}
