extends ./base.pug
block content
  .wrapper#app
    // 
    .maincontent
      // Same background for two sections
      .bg-train 
        section.hero
          .container.hero__container
            header.header.hero__header
              a.logo(href="#") NK
              .header__nav
                .header__nav-desktop
                  - const menu = ["Главная","Обо мне", "Навыки", "Работы", "Отзывы"];
                  include ./components/nav.pug
              .header__socials
                .socials
                  each icon in ['insta', 'github', 'vk', 'envelope']
                    a.socials__item(href="#" target='_blank')
                      +icon(icon, 'icon-social')
              .header__hamburger(data-close-element='#mobile-menu')
                button(type='button').hamburger
                  .hamburger__item
                  .hamburger__item
                  .hamburger__item
            .hero__title-box
              .hero__subtitle Личный сайт #[br] веб разработчика
              .hero__title Кирил#[i о]вич Николай
            .hero__bottom
              button.button.button--outfilled
                span.button__text Скролл
                +icon('scroll', 'button__icon')
            aside.aside.aside--hidden#mobile-menu(data-hide-class='aside--hidden')
              .aside__container 
                .aside__content-wrap
                  .aside__header
                    button.aside__close(type="button" data-close-element='#mobile-menu')
                      +icon('cross', 'icon icon--dark')
                  .aside__content
                    .menu.menu--vertical
                      each link in [["Обо мне","about"], ["Навыки",["skills"]], ["Работы","works"], ["Отзывы","reviews"]]
                        a.menu__link(href=`#${link[1]}` data-close-element='#mobile-menu')= link[0]
                  .aside__footer
                    .socials
                      each icon in ['insta', 'github', 'vk', 'envelope']
                        a.socials__item(href="#" target='_blank')
                          +icon(icon, 'icon-social icon-social--dark')
        // END Hero section
        section.owner.text.text--600(id='about')
          .container.owner__container
            .owner__left-col
              .owner__top
                .owner__avatar-wrap
                  +image('content/kolin.jpg', 'avatar')
              .owner__bottom
                .owner__detail
                  .owner__detail-q.text--grey Проживаю:
                  .owner__detail-a California
                .owner__detail
                  .owner__detail-q.text--grey Возраст:
                  .owner__detail-a 32 года
                .owner__detail
                  .owner__detail-q.text--grey Родился:
                  .owner__detail-a 24 января 1989
            .owner__right-col
              .owner__top
                p.text.text--grey-light Привет, меня зовут
                h2.owner__name Николай Кирил#[em о]вич
                p.owner__desc.text.text--grey-light Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать продающие сайты и сервисы.
              .owner__bottom
                em.owner__quote.text.text--400 Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        // END owner Section
      // END Bg-train

      section.skills(id='skills')
        .container.skills__container
          .skills__title-wrap
            h3.h3.skills__title Чем я могу быть полезен
            .skills__subtitle Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .skills__list
            #skills-widget
      // END Skills Sections

      // Porftolio-Section
      section.portfolio(id='works')
        .container.portfolio__container
          h2.h2.portfolio__title Мои работы
          .portfolio-section__slider
            #slider-widget
      // END Porftolio-Section
      
      // Testimonials Section
      section.testimonials(id='reviews')
        .container.testimonials__container
          #carousel-widget
      // END Testimonials Section

    // Footer
    footer.footer
      .container.footer__container
        .footer__side
          .footer__copy.text.text--grey.text--600 © 2021
          .footer__author-box
            .footer__author-name Кирилович Николай
            .footer__author-cite Личный сайт веб-разработчика
        .footer__main
          .menu.menu--phones.footer__menu
            - const footerMenu = ["Обо мне", "Навыки", "Работы", "Отзывы"];
            each link in footerMenu
              a.menu__link.footer__menu-link(href="#")= link
          .footer__desc-box
            .footer__site-about Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__socials
              .socials
                each icon in ['insta', 'github', 'vk', 'envelope']
                  a.socials__item.socials__item--circle.socials__item--ml20(href="#" target='_blank')
                    +icon(icon, 'socials__icon')
          figure.footer__quote
            blockquote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            figcaption.footer__quote-author Martin Golding


    // END Footer